<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhjeun.pwiki.board.mapper.BoardMapper">
    <select id="listAll" resultType="com.jhjeun.pwiki.board.model.BoardModel">
        <![CDATA[
        SELECT
            id as id,
            title as title,
            content as content,
            reg_user as regUser,
            reg_dt as regDt,
            upd_dt as updDt,
            url as url,
            tags as tags
        FROM
        tbl_board
        WHERE 
        delete_yn = 'N'
        ]]>
    </select>
    <select id="selectOne" resultType="com.jhjeun.pwiki.board.model.BoardModel">
        <![CDATA[
        SELECT
            title as title,
            content as content,
            reg_User as regUser,
            reg_dt as regDt,
            upd_dt as updDt,
            url as url,
            tags as tags,
            property
        FROM
        tbl_board
        WHERE
        id = #{id}
        and
        delete_yn = 'N'
        ]]>
    </select>
    <select id="countRows" resultType="int">
        <![CDATA[
        SELECT
        count(*)
        FROM tbl_board
        ]]>
    </select>
    <insert id="create">
        <![CDATA[
        INSERT into tbl_board
        (
            title,
            content,
            reg_user,
            reg_dt,
            delete_yn,
            tags,
            url,
            upd_dt,
            property
        )
        VALUES 
        (
            #{title},
            #{content},
            #{regUser},
            #{regDt},
            #{deleteYn},
            #{tags},
            #{url},
            #{updDt},
            #{property}
        )
        ]]>
    </insert>
    <delete id="deleteOne">
        <![CDATA[
        DELETE from tbl_board
        WHERE
        id=#{id}
        ]]>
    </delete>
    <update id="updateOne">
        <![CDATA[
        UPDATE tbl_board
        SET
            (
                title = #{title},
                content = #{content},
                upd_dt = #{updDt},
                url = #{url},
                property = #{property},
                tags = #{tags}
            )
        WHERE id = #{id}
        ]]>
    </update>
    <update id="updateDelete">
        <![CDATA[
        UPDATE tbl_board
        SET
            (
                delete_yn = 'Y'
            )
        WHERE id = #{id}
        ]]>
    </update>
</mapper>